.top-wrapper {
    background-color: #d4e5ff;
    padding: 15px 10px;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 480px) {
    .top-wrapper {
      padding: 15px 10px
    }
  
    .top-wrapper button {
      width: 80px;
    }
  }
  